.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 400px 300px 200px;
  /* background-color: red; */
}

.heading-row {
  background-color: #ccc;
  padding: 1rem 0.5rem;
}

.row {
  padding: 1rem 0.5rem;
}

.margin-lg {
  margin-top: 3rem;
}
